<!doctype html>
<html ng-app="myApp">
  <head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/main.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">

    </head>
  <body ng-controller="PlayerController">
    <div class="container">
    <div class="page-header">
      <h1>NPR Radio</h1>
      <p class="text-muted">Built from AngularJS tutorial on ng-newsletter.</p>
    </div>
    <h4>Now playing:</h4>
    <div class="well well-sm" id="well">
        <p><b> {{ audio_text }}</b></p>    
    </div>
        
    <div class="col-xs-8 col-md-8 col-sm-8 col-md-offset-3 col-sm-offset-2 col-xs-offset-2">
        
        <div class="media" ng-repeat = "program in programs">
            <div class="media-left media-middle">
                <a href="#">
                <img class="media-object" src="/media/play-icon.png" width="30px" alt="icon" ng-click="play(program)">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"> &nbsp; {{ program.title.$text }}</h4>
            </div>
        </div>
       
<!--
        <ul>
            <li ng-repeat = "program in programs" ng-click="play(program)">
                <span><a> {{ program.title.$text }}</a></span>
            </li>
        </ul>
-->
        <br>
         <button type = "button" class="btn pull-right" ng-show="playing" ng-click="pause()">Stop</button>
        <button type="button" class="btn pull-right" ng-show ="!playing" ng-click="continue()">Continue</button>
    </div>
   
   </div>
     <div class="container" id="footer">
    <footer class="footer">
        <p class="text-muted">Created by Amy Yang, Nov. 2015.</p>
    </footer>
    </div>
      
      
  </body>
</html>
